<h1>Sign up</h1>
<form method="POST" action="/auth/signup">
  <label>Username</label>
  <input type="text" name="username" placeholder="j_doe25" required>

  <label>Email address:</label>
  <input type="email" name="email" placeholder="john_doe@gmail.com" required>

  <label>Password:</label>
  <input type="password" name="password" placeholder="********" required>

  <label>Confirm password:</label>
  <input type="password" name="confirmationPassword" placeholder="********" required>

  <button type="submit">Sign up</button>

  {{#if errorMessage}}
  <div>{{errorMessage}}</div>
  {{/if}}
</form>