<h1>Reset your password</h1>
<form method="POST" action="/recovery/reset-password">
  <label>New password:</label>
  <input type="password" name="newPassword">

  <label>Confirm password:</label>
  <input type="password" name="confirmationPassword">

  <button type="submit">Save</button>

  {{#if errorMessage}}
  <div class="error-msg">{{errorMessage}}</div>
  {{/if}}
</form>

{{#if successMessage}}
<div class="success-msg">{{successMessage}}</div>
<a href="/private/join-chat">Go to chat</a>
{{/if}}